<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>CollegeFeeWebApp</display-name>

    <!-- ================= ADD PAYMENT ================= -->
    <servlet>
        <servlet-name>AddPayment</servlet-name>
        <servlet-class>com.servlet.AddFeePaymentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddPayment</servlet-name>
        <url-pattern>/addPayment</url-pattern>
    </servlet-mapping>

    <!-- ================= UPDATE PAYMENT ================= -->
    <servlet>
        <servlet-name>UpdatePayment</servlet-name>
        <servlet-class>com.servlet.UpdateFeePaymentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdatePayment</servlet-name>
        <url-pattern>/updatePayment</url-pattern>
    </servlet-mapping>

    <!-- ================= DELETE PAYMENT ================= -->
    <servlet>
        <servlet-name>DeletePayment</servlet-name>
        <servlet-class>com.servlet.DeleteFeePaymentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeletePayment</servlet-name>
        <url-pattern>/deletePayment</url-pattern>
    </servlet-mapping>

    <!-- ================= DISPLAY PAYMENTS ================= -->
    <servlet>
        <servlet-name>DisplayPayments</servlet-name>
        <servlet-class>com.servlet.DisplayFeePaymentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayPayments</servlet-name>
        <url-pattern>/feepaymentsdisplay</url-pattern>
    </servlet-mapping>

    <!-- ================= REPORT (DATE RANGE) ================= -->
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>com.servlet.ReportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>

    <!-- ================= REPORT CRITERIA ================= -->
    <servlet>
        <servlet-name>ReportCriteria</servlet-name>
        <servlet-class>com.servlet.ReportCriteriaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReportCriteria</servlet-name>
        <url-pattern>/reportCriteria</url-pattern>
    </servlet-mapping>

    <!-- ================= WELCOME FILE ================= -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>